<img src="Logo.png" alt="TaskLock Mobile Application" style="margin: 0 auto;" width="120" height="120" />
<h1 style="text-align: center;">Hey, {{name}}</h1>
<p>Use the code below to verify ownership so we can let you change your password</p>
<p style="text-align: center; font-size: 28px; font-weight:bold">{{code}}</p>
<p>If you did not request a code, please ignore this email</p>