<img src="images/Logo.png" alt="TaskLock Mobile Application" style="margin: 0 auto;" width="120" height="120" />
<h1 style="text-align: center;">Hey, {{name}}</h1>
<p>Use the code below to verify ownership so we can let you change your password</p>
<div style="width: 100%; display: flex; justify-content: center; gap: 4px">
    {{#each code}}
    <p>{{this}}</p>
    {{/each}}
</div>
<p>If you did not request a code, please ignore this email</p>